* {
    margin: 0px;
    padding: 0px;
    text-decoration: none;
}
.left-nav{
    width: 60%;
    background: white;
    height: 80px;
    display: flex;
}
.right-nav{
    width: 40%;
    background: white;
    height: 80px;

}
.container{
    display: flex;
    justify-content: row;
    background: lightgrey;
}
.img-logo{
    height: 60px;
    padding: 10px;
    padding-left: 55%;
}
.logo-img{
    background: white;
    width: 35%;
}
.navOptoin{
    width: 50%;;
}
.nav-form{
    margin-top: 19px;
height: 40px;
width: 39%;
margin-left: 30px;
border-radius: 40px;
text-align: center;
}
.starbucks{
    padding-top: 25px;
    padding-left: 20%;
    font-size: x-large;
    color: white;
}
.know-button{
    margin-top: 20px;
    height: 35px;
    width: 103px;
    border-radius: 40px;
    margin-left: 50%;
    border-color: white;
    background: #1e3932;
    color: white;
}
.pro{
    width: 90px;
    height: 90px;
    border-radius: 50%;
    margin-left: 14%;
    margin-top: 22px;
    cursor: pointer;
}
.pro-align{
    display: flex;
    gap: 100px;
    justify-content: center;
}
.barista-logo{
    width: 50%;
    font-size:x-large;
    margin-left: 100px;
    margin: 25px;
    margin-left: 14%;
    padding-top: 30px;
}
.barista-sectoin{
    height: 333px;
    width: 100%;
    background: #D3D3D3;
}
.card1{
    width: 400px;
    height: 166px;
    background: lightgreen;
    margin-left: 14%;
    border-radius: 15px;
}
.bestseller-img{
    width: 74%;
    background: white;
    height: 100%;
}
.button-add{
    width: 34%;
    background: white;
    height: 100%;
}
.barista-button{
    margin-left: 24px;
    margin-top: 84%;
    height: 17%;
    width: 64%;
    border-radius: 40px;
    background: #1e3932;
    color: white;
}
.image-name{
    margin-top: 25px;
}
.learn-more{
    width: 100%;
    height: 600px;
    background: #D3D3D3;
    margin-top: 42px;
}
.wrapper{
    width: 100%;
    height: 65vh;
    display: flex;
    justify-content: center;
    align-items: center;
}
.image{
    width: 500px;
    position: relative;
    margin-right: 25%;
}
.coffe-make{
    width: 100%;
    display: block;
    height: 465px;
    width: 180%;
}
.coffe-button{
    height: 35px;
    width: 143px;
    color: darkgreen;
    border-radius: 40px;
    font-weight: bold;
}
.content{
    width: 180%;
    height: 465px;
    top: 0;
    color: white;
    position: absolute;
    background: rgba(0, 0, 0, 0.5);
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    opacity: 0;
    transition: 0.5s;
}
.content:hover{
    opacity: 1;
}









table {
    width: 100%;
    border-collapse: collapse;
    text-align: left;
}

th, td {
    padding: 6px 0; /* top/bottom spacing, no extra left/right */
}

th {
    font-weight: bold;
}
